# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [1]:
import pandas as pd
from src.utils import load_data_from_google_drive

# Loading in Data

The initial stage in addressing any machine learning problem involves recognizing the data format and subsequently importing it into the chosen framework. In the context of Kaggle competitions, a significant amount of data is often available in CSV files, and that's the illustration we will employ.

We will examine a sports dataset displaying outcomes of NCAA basketball games spanning from 1985 to 2016. This dataset is stored in a CSV file, and the method we'll employ to import the file is pd.read_csv(). This function yields a dataframe variable, which is a pivotal data structure in Pandas. A dataframe is characterized as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)."

Just think of it as a table for now.

In [2]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [3]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [4]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [5]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [6]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [8]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [9]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [10]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [11]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [12]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [13]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [14]:
df['Season'].value_counts()

2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: Season, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [16]:
#This code calculates and prints the number of unique seasons in the 'Season' column of a dataframe.

unique_seasons = len(df['Season'].unique())
print(unique_seasons)

32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [18]:
from collections import Counter

# Count the number of wins for each team in the 'Wteam' column
win_counts = Counter(df['Wteam'])

# Find the team with the most wins by identifying the team code with the maximum count
team_with_most_wins = max(win_counts, key=win_counts.get)

# Print the team with the most wins
print("Team with the most wins:", team_with_most_wins)

Team with the most wins: 1181

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [16]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [17]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [18]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [19]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [20]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [21]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [22]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [23]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [24]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [25]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [19]:
# Sort the dataframe by the 'Season' column and assign it to a new variable
sorted_by_season = df.sort_values(by='Season')

# Sort the dataframe by the 'Wteam' column and assign it to a new variable
sorted_by_winning_team = df.sort_values(by='Wteam')

# Sort the dataframe by the 'Wscore' column and assign it to a new variable
sorted_by_winning_score = df.sort_values(by='Wscore')

# Select rows from index 100 to 200 and specific columns (Season, Wteam, Wscore)
selected_data = df.iloc[100:201, [0, 2, 3]]  # Assuming Season is column 0, Wteam is column 2, Wscore is column 3

# Print the dataframe sorted by 'Season'
print("Sorted by Season:")
print(sorted_by_season)

# Print the dataframe sorted by 'Wteam'
print("\nSorted by Winning Team:")
print(sorted_by_winning_team)

# Print the dataframe sorted by 'Wscore'
print("\nSorted by Winning Score:")
print(sorted_by_winning_score)

# Print the selected rows and columns
print("\nSelected Rows and Columns:")
print(selected_data)

Sorted by Season:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
2484      1985      99   1275      73   1132      63    H      0
2485      1985      99   1306      62   1171      59    H      0
2486      1985      99   1318      99   1145      91    H      0
2487      1985      99   1337      75   1109      56    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
141706    2016      50   1300      57   1183      52    N      0
141705    2016      50   1298      62   1202      49    H      0
141704    2016      50   1295      68   1410      50    N      0
141702    2016      50   1277      99   1324      93    N      1
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

Sorted by Winning Team:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
140642    2016      25   1101      72   1197      62    N      0
136740    2015      62   1101      87   1146      70    H      0
143283    2016      89   1101      80   1249      71    H      0
143476    2016      92   1101      79   1223      72    H      0
141972    2016      61   1101      62   1146      61    A      0
...        ...     ...    ...     ...    ...     ...  ...    ...
56143     1998     125   1464      75   1282      59    N      0
94008     2007      41   1464      68   1454      65    A      0
41936     1995      84   1464      67   1282      52    H      0
110589    2010      68   1464      71   1260      67    H      0
46638     1996      98   1464      73   1442      48    H      0

[145289 rows x 8 columns]

Sorted by Winning Score:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
128582    2013     116   1264      34   1193      31    H      0
69336     2001     126   1206      35   1423      33    N      0
5364      1986      77   1229      35   1166      34    A      0
20246     1990      47   1374      36   1426      31    H      0
118590    2011     130   1336      36   1458      33    N      0
...        ...     ...    ...     ...    ...     ...  ...    ...
20022     1990      40   1116     166   1109     101    H      0
24341     1991      47   1328     172   1258     112    H      0
19653     1990      30   1328     173   1109     101    H      0
17867     1989      92   1258     181   1109     150    H      0
24970     1991      68   1258     186   1109     140    H      0

[145289 rows x 8 columns]

Selected Rows and Columns:
     Season  Wteam  Wscore
100    1985   1409      86
101    1985   1444      90
102    1985   1451      89
103    1985   1139      78
104    1985   1154      78
..      ...    ...     ...
196    1985   1203      83
197    1985   1222      73
198    1985   1227      76
199    1985   1228      73
200    1985   1229      54

[101 rows x 3 columns]

**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [20]:
# Find the game with the highest winning score from the sorted_by_winning_score dataframe
highest_winning_score_row = sorted_by_winning_score.iloc[0]

# Retrieve the highest winning score, season, and winning team from the original dataframe
highest_winning_score = highest_winning_score_row['Wscore']
season_of_highest_score = highest_winning_score_row['Season']
winning_team_of_highest_score = highest_winning_score_row['Wteam']

# Print the game with the highest winning score
print("Game with the Highest Winning Score:")
print("Season:", season_of_highest_score)
print("Winning Team:", winning_team_of_highest_score)
print("Winning Score:", highest_winning_score)

Game with the Highest Winning Score:
Season: 2013
Winning Team: 1264
Winning Score: 34

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [28]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [29]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [21]:
# Create a new column 'ScoreDifference' which represents the absolute difference between 'Wscore' and 'Lscore'
df['ScoreDifference'] = abs(df['Wscore'] - df['Lscore'])

# Calculate the average 'ScoreDifference'
average_score_difference = df['ScoreDifference'].mean()

# Filter the DataFrame based on the condition where 'ScoreDifference' is greater than the average
filtered_data = df.loc[df['ScoreDifference'] > average_score_difference]

# Print the filtered data
print("Filtered Data:")
print(filtered_data)

Filtered Data:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
3         1985      25   1165      70   1432      54    H      0
6         1985      25   1228      64   1226      44    N      0
8         1985      25   1260      98   1133      80    H      0
10        1985      25   1307     103   1288      71    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145280    2016     131   1401      71   1261      38    N      0
145282    2016     131   1433      76   1172      54    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference
0                    17
3                    16
6                    20
8                    18
10                   32
...                 ...
145280               33
145282               22
145284               20
145285               14
145288               13

[57227 rows x 9 columns]

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [22]:
# Find the game with the highest 'ScoreDifference' from the filtered DataFrame
highest_score_difference_row = filtered_data.loc[filtered_data['ScoreDifference'].idxmax()]

# Retrieve the season, winning team, and losing team with the highest score difference
season_of_highest_score_difference = highest_score_difference_row['Season']
winning_team = highest_score_difference_row['Wteam']
losing_team = highest_score_difference_row['Lteam']

# Print the game with the highest score difference
print("Game with the Highest Score Difference:")
print("Season:", season_of_highest_score_difference)
print("Winning Team:", winning_team)
print("Losing Team:", losing_team)

Game with the Highest Score Difference:
Season: 1996
Winning Team: 1409
Losing Team: 1341

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [32]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [33]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       A         3
       N         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: Wloc, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [34]:
df.values

array([[1985, 20, 1228, ..., 'N', 0, 17],
       [1985, 25, 1106, ..., 'H', 0, 7],
       [1985, 25, 1112, ..., 'H', 0, 7],
       ...,
       [2016, 132, 1246, ..., 'N', 1, 5],
       [2016, 132, 1277, ..., 'N', 0, 4],
       [2016, 132, 1386, ..., 'N', 0, 13]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [35]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [23]:
# Calculate the average winning score by season and store the results in a Series
average_winning_score_by_season = df.groupby('Season')['Wscore'].mean()

# Print the average winning score by season
print("Average Winning Score by Season:")
for season, average_score in average_winning_score_by_season.items():
    print(f"Season {season}: {average_score}")

Average Winning Score by Season:
Season 1985: 74.72303987155472
Season 1986: 74.81363996827915
Season 1987: 77.99386973180077
Season 1988: 79.77370417193426
Season 1989: 81.7285112707456
Season 1990: 80.84647713226205
Season 1991: 82.73393160320155
Season 1992: 79.99200387690817
Season 1993: 79.50878955298845
Season 1994: 81.1603448275862
Season 1995: 80.09614912926172
Season 1996: 78.20548277535177
Season 1997: 76.30084235860409
Season 1998: 77.22990160787137
Season 1999: 76.04358124111795
Season 2000: 76.31046691745962
Season 2001: 77.08865010073875
Season 2002: 76.9635565312843
Season 2003: 75.79506065857886
Season 2004: 74.97112229271494
Season 2005: 74.69368983957219
Season 2006: 74.58755518183729
Season 2007: 74.8294665873488
Season 2008: 74.96242494673639
Season 2009: 74.03372070870643
Season 2010: 74.65247957438723
Season 2011: 74.37418985894014
Season 2012: 73.37997334856273
Season 2013: 72.84078947368421
Season 2014: 76.10126818351361
Season 2015: 72.68079940231603
Season 2016: 78.29595827900913

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [24]:
# Find the maximum winning score for each team by grouping the DataFrame by winning team
max_winning_score_by_team = df.groupby('Wteam')['Wscore'].max()

# Print the maximum winning score by team
print("Maximum Winning Score by Team:")
for team, max_score in max_winning_score_by_team.items():
    print(f"Team {team}: {max_score}")

Maximum Winning Score by Team:
Team 1101: 95
Team 1102: 111
Team 1103: 109
Team 1104: 114
Team 1105: 114
Team 1106: 151
Team 1107: 108
Team 1108: 120
Team 1109: 137
Team 1110: 128
Team 1111: 111
Team 1112: 133
Team 1113: 123
Team 1114: 125
Team 1115: 106
Team 1116: 166
Team 1117: 116
Team 1118: 80
Team 1119: 104
Team 1120: 120
Team 1121: 103
Team 1122: 115
Team 1123: 115
Team 1124: 116
Team 1125: 107
Team 1126: 112
Team 1127: 94
Team 1128: 92
Team 1129: 116
Team 1130: 123
Team 1131: 110
Team 1132: 136
Team 1133: 139
Team 1134: 101
Team 1135: 115
Team 1136: 103
Team 1137: 116
Team 1138: 110
Team 1139: 144
Team 1140: 128
Team 1141: 115
Team 1142: 122
Team 1143: 121
Team 1144: 104
Team 1145: 108
Team 1146: 112
Team 1147: 124
Team 1148: 129
Team 1149: 114
Team 1150: 117
Team 1151: 125
Team 1152: 128
Team 1153: 116
Team 1154: 112
Team 1155: 120
Team 1156: 121
Team 1157: 115
Team 1158: 116
Team 1159: 111
Team 1160: 132
Team 1161: 108
Team 1162: 108
Team 1163: 130
Team 1164: 110
Team 1165: 108
Team 1166: 111
Team 1167: 98
Team 1168: 117
Team 1169: 123
Team 1170: 110
Team 1171: 105
Team 1172: 110
Team 1173: 118
Team 1174: 113
Team 1175: 124
Team 1176: 103
Team 1177: 125
Team 1178: 115
Team 1179: 109
Team 1180: 110
Team 1181: 130
Team 1182: 129
Team 1183: 107
Team 1184: 114
Team 1185: 120
Team 1186: 118
Team 1187: 109
Team 1188: 100
Team 1189: 112
Team 1190: 112
Team 1191: 136
Team 1192: 110
Team 1193: 113
Team 1194: 107
Team 1195: 111
Team 1196: 131
Team 1197: 130
Team 1198: 118
Team 1199: 133
Team 1200: 110
Team 1201: 114
Team 1202: 104
Team 1203: 119
Team 1204: 119
Team 1205: 105
Team 1206: 148
Team 1207: 123
Team 1208: 124
Team 1209: 109
Team 1210: 135
Team 1211: 121
Team 1212: 116
Team 1213: 99
Team 1214: 104
Team 1215: 107
Team 1216: 122
Team 1217: 111
Team 1218: 108
Team 1219: 115
Team 1220: 105
Team 1221: 130
Team 1222: 112
Team 1223: 106
Team 1224: 116
Team 1225: 116
Team 1226: 115
Team 1227: 112
Team 1228: 127
Team 1229: 107
Team 1230: 110
Team 1231: 118
Team 1232: 102
Team 1233: 126
Team 1234: 126
Team 1235: 123
Team 1236: 107
Team 1237: 108
Team 1238: 118
Team 1239: 123
Team 1240: 105
Team 1241: 118
Team 1242: 150
Team 1243: 115
Team 1244: 102
Team 1245: 116
Team 1246: 129
Team 1247: 133
Team 1248: 111
Team 1249: 143
Team 1250: 109
Team 1251: 122
Team 1252: 104
Team 1253: 117
Team 1254: 129
Team 1255: 110
Team 1256: 126
Team 1257: 132
Team 1258: 186
Team 1259: 109
Team 1260: 127
Team 1261: 159
Team 1262: 108
Team 1263: 127
Team 1264: 111
Team 1265: 128
Team 1266: 114
Team 1267: 127
Team 1268: 138
Team 1269: 108
Team 1270: 113
Team 1271: 117
Team 1272: 124
Team 1273: 117
Team 1274: 115
Team 1275: 110
Team 1276: 127
Team 1277: 121
Team 1278: 116
Team 1279: 113
Team 1280: 123
Team 1281: 129
Team 1282: 128
Team 1283: 110
Team 1284: 124
Team 1285: 109
Team 1286: 121
Team 1287: 124
Team 1288: 106
Team 1289: 77
Team 1290: 117
Team 1291: 114
Team 1292: 132
Team 1293: 117
Team 1294: 105
Team 1295: 104
Team 1296: 115
Team 1297: 96
Team 1298: 116
Team 1299: 124
Team 1300: 94
Team 1301: 135
Team 1302: 111
Team 1303: 108
Team 1304: 117
Team 1305: 120
Team 1306: 113
Team 1307: 136
Team 1308: 128
Team 1309: 110
Team 1310: 119
Team 1311: 112
Team 1312: 96
Team 1313: 110
Team 1314: 129
Team 1315: 101
Team 1316: 107
Team 1317: 119
Team 1318: 152
Team 1319: 109
Team 1320: 126
Team 1321: 108
Team 1322: 123
Team 1323: 126
Team 1324: 114
Team 1325: 122
Team 1326: 121
Team 1327: 99
Team 1328: 173
Team 1329: 124
Team 1330: 120
Team 1331: 117
Team 1332: 116
Team 1333: 106
Team 1334: 114
Team 1335: 105
Team 1336: 129
Team 1337: 131
Team 1338: 117
Team 1339: 114
Team 1340: 108
Team 1341: 106
Team 1342: 95
Team 1343: 104
Team 1344: 116
Team 1345: 119
Team 1346: 104
Team 1347: 114
Team 1348: 116
Team 1349: 113
Team 1350: 108
Team 1351: 113
Team 1352: 110
Team 1353: 119
Team 1354: 115
Team 1355: 105
Team 1356: 114
Team 1357: 133
Team 1358: 112
Team 1359: 110
Team 1360: 113
Team 1361: 138
Team 1362: 123
Team 1363: 98
Team 1364: 109
Team 1365: 101
Team 1366: 87
Team 1367: 98
Team 1368: 112
Team 1369: 125
Team 1370: 111
Team 1371: 134
Team 1372: 112
Team 1373: 119
Team 1374: 121
Team 1375: 156
Team 1376: 113
Team 1377: 116
Team 1378: 117
Team 1379: 127
Team 1380: 155
Team 1381: 140
Team 1382: 112
Team 1383: 142
Team 1384: 111
Team 1385: 135
Team 1386: 114
Team 1387: 116
Team 1388: 121
Team 1389: 106
Team 1390: 129
Team 1391: 116
Team 1392: 104
Team 1393: 135
Team 1394: 107
Team 1395: 153
Team 1396: 110
Team 1397: 124
Team 1398: 109
Team 1399: 113
Team 1400: 124
Team 1401: 117
Team 1402: 111
Team 1403: 128
Team 1404: 104
Team 1405: 119
Team 1406: 122
Team 1407: 140
Team 1408: 122
Team 1409: 141
Team 1410: 113
Team 1411: 119
Team 1412: 118
Team 1413: 108
Team 1414: 121
Team 1415: 106
Team 1416: 113
Team 1417: 149
Team 1418: 128
Team 1419: 125
Team 1420: 115
Team 1421: 114
Team 1422: 104
Team 1423: 115
Team 1424: 142
Team 1425: 118
Team 1426: 125
Team 1427: 132
Team 1428: 109
Team 1429: 119
Team 1430: 123
Team 1431: 112
Team 1432: 97
Team 1433: 112
Team 1434: 118
Team 1435: 116
Team 1436: 110
Team 1437: 110
Team 1438: 128
Team 1439: 141
Team 1440: 116
Team 1441: 125
Team 1442: 121
Team 1443: 121
Team 1444: 119
Team 1445: 105
Team 1446: 81
Team 1447: 122
Team 1448: 120
Team 1449: 123
Team 1450: 131
Team 1451: 119
Team 1452: 125
Team 1453: 115
Team 1454: 117
Team 1455: 116
Team 1456: 116
Team 1457: 109
Team 1458: 115
Team 1459: 105
Team 1460: 136
Team 1461: 112
Team 1462: 125
Team 1463: 105
Team 1464: 115

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [25]:
# Group the DataFrame by both season and winning team
grouped_data = df.groupby(['Season', 'Wteam'])

# Find the team with the highest average winning score for each season
highest_avg_score_by_season = grouped_data['Wscore'].mean().groupby('Season').idxmax().apply(lambda x: x[1])

# Print the team with the highest average winning score by season
print("Team with the Highest Average Winning Score by Season:")
print(highest_avg_score_by_season)

Team with the Highest Average Winning Score by Season:
Season
1985    1328
1986    1109
1987    1380
1988    1258
1989    1258
1990    1258
1991    1380
1992    1380
1993    1380
1994    1380
1995    1206
1996    1206
1997    1254
1998    1395
1999    1317
2000    1395
2001    1395
2002    1242
2003    1395
2004    1194
2005    1311
2006    1190
2007    1440
2008    1440
2009    1377
2010    1440
2011    1449
2012    1370
2013    1377
2014    1322
2015    1322
2016    1146
Name: Wscore, dtype: int64

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [26]:
# Group the DataFrame by both season and winning team
grouped_data = df.groupby(['Season', 'Wteam'])

# Count the number of wins for each team in each season
wins_count = grouped_data.size().reset_index(name='WinsCount')

# Print the number of wins for each team in each season
print("Number of Wins for Each Team in Each Season:")
print(wins_count)

Number of Wins for Each Team in Each Season:
       Season  Wteam  WinsCount
0        1985   1102          5
1        1985   1103          9
2        1985   1104         21
3        1985   1106         10
4        1985   1108         19
...       ...    ...        ...
10167    2016   1460         20
10168    2016   1461         12
10169    2016   1462         27
10170    2016   1463         21
10171    2016   1464          9

[10172 rows x 3 columns]

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [27]:
# Group the DataFrame by season and winning team to count the number of wins
wins_count = df.groupby(['Season', 'Wteam']).size().reset_index(name='WinsCount')

# Create a mask to filter the rows with the most wins for each season
mask = wins_count.groupby('Season')['WinsCount'].transform(max) == wins_count['WinsCount']

# Filter the wins_count DataFrame to get the team with the most wins for each season
team_with_most_wins_by_season = wins_count.loc[mask, ['Season', 'Wteam']]

# Print the team with the most wins for each season
print("Team with the Most Wins for Each Season:")
for _, row in team_with_most_wins_by_season.iterrows():
    season, team = row['Season'], row['Wteam']
    print(f"Season: {season}, Team: {team}")

Team with the Most Wins for Each Season:
Season: 1985, Team: 1385
Season: 1985, Team: 1424
Season: 1986, Team: 1181
Season: 1987, Team: 1424
Season: 1988, Team: 1112
Season: 1989, Team: 1328
Season: 1990, Team: 1247
Season: 1990, Team: 1424
Season: 1991, Team: 1116
Season: 1991, Team: 1424
Season: 1992, Team: 1181
Season: 1993, Team: 1231
Season: 1993, Team: 1314
Season: 1994, Team: 1163
Season: 1994, Team: 1269
Season: 1994, Team: 1314
Season: 1995, Team: 1116
Season: 1995, Team: 1269
Season: 1996, Team: 1269
Season: 1997, Team: 1242
Season: 1998, Team: 1242
Season: 1999, Team: 1181
Season: 2000, Team: 1409
Season: 2001, Team: 1181
Season: 2002, Team: 1153
Season: 2003, Team: 1166
Season: 2003, Team: 1246
Season: 2004, Team: 1390
Season: 2005, Team: 1228
Season: 2006, Team: 1181
Season: 2006, Team: 1272
Season: 2007, Team: 1242
Season: 2007, Team: 1272
Season: 2007, Team: 1326
Season: 2008, Team: 1272
Season: 2009, Team: 1272
Season: 2010, Team: 1242
Season: 2010, Team: 1246
Season: 2011, Team: 1242
Season: 2011, Team: 1326
Season: 2012, Team: 1246
Season: 2013, Team: 1211
Season: 2013, Team: 1272
Season: 2014, Team: 1455
Season: 2015, Team: 1246
Season: 2016, Team: 1242
Season: 2016, Team: 1277
Season: 2016, Team: 1437

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [28]:
# Calculate the average losing score for each losing team
losing_scores = df.groupby('Lteam')['Lscore'].mean()

# Calculate the average winning score for each winning team
winning_scores = df.groupby('Wteam')['Wscore'].mean()

# Create a DataFrame to compare the average losing scores and winning scores
compare_scores = pd.DataFrame({'Avg Losing Score': losing_scores, 'Avg Winning Score': winning_scores})

# Add a column indicating if the average losing score is higher than the average winning score
compare_scores['Avg Losing Score Higher'] = compare_scores['Avg Losing Score'] > compare_scores['Avg Winning Score']

# Print the DataFrame comparing the scores
print(compare_scores)

      Avg Losing Score  Avg Winning Score  Avg Losing Score Higher
1101         60.586207          78.111111                    False
1102         59.201507          69.893204                    False
1103         64.117347          75.839768                    False
1104         64.374317          75.825944                    False
1105         61.675373          74.960894                    False
...                ...                ...                      ...
1460         63.082915          75.531469                    False
1461         64.661972          75.170082                    False
1462         68.216117          79.906021                    False
1463         60.829213          71.720102                    False
1464         65.187063          73.926056                    False

[364 rows x 3 columns]

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [29]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season             1985
Daynum               20
Wteam              1228
Wscore               81
Lteam              1328
Lscore               64
Wloc                  N
Numot                 0
ScoreDifference      17
Name: 0, dtype: object
Season             1985
Daynum               25
Wteam              1106
Wscore               77
Lteam              1354
Lscore               70
Wloc                  H
Numot                 0
ScoreDifference       7
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [30]:
import numpy as np

# Create a new column 'HighScoringGame' in dataframe df
# np.where(condition, value if true, value if false)
# Here, the condition is whether 'Wscore' > 100
# If true, assign 'Yes', otherwise assign 'No'
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

# print the DataFrame
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference HighScoringGame
0                    17              No
1                     7              No
2                     7              No
3                    16              No
4                    12              No
...                 ...             ...
145284               20              No
145285               14              No
145286                5              No
145287                4              No
145288               13              No

[145289 rows x 10 columns]

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [32]:
# Concatenate 'Wteam' and 'Lteam' columns to count all games regardless of win/loss
all_teams = pd.concat([df['Wteam'], df['Lteam']])

# Use value_counts() method which returns a Series containing counts of unique values.
games_count = all_teams.value_counts()

# Iterate over the Series and print the results.
# games_count.index refers to the team name, and games_count.values refers to the count of games.
for team, count in zip(games_count.index, games_count.values):
    print(f"Team {team} played {count} games.")

Team 1181 played 1013 games.
Team 1314 played 1010 games.
Team 1246 played 999 games.
Team 1257 played 994 games.
Team 1242 played 993 games.
Team 1393 played 993 games.
Team 1228 played 992 games.
Team 1272 played 992 games.
Team 1437 played 983 games.
Team 1400 played 982 games.
Team 1112 played 981 games.
Team 1196 played 981 games.
Team 1116 played 980 games.
Team 1396 played 979 games.
Team 1301 played 979 games.
Team 1163 played 977 games.
Team 1281 played 977 games.
Team 1104 played 975 games.
Team 1433 played 975 games.
Team 1424 played 974 games.
Team 1210 played 972 games.
Team 1153 played 970 games.
Team 1307 played 969 games.
Team 1231 played 969 games.
Team 1268 played 969 games.
Team 1326 played 968 games.
Team 1328 played 968 games.
Team 1234 played 968 games.
Team 1277 played 966 games.
Team 1417 played 966 games.
Team 1345 played 966 games.
Team 1409 played 966 games.
Team 1140 played 965 games.
Team 1397 played 963 games.
Team 1330 played 963 games.
Team 1338 played 962 games.
Team 1412 played 962 games.
Team 1435 played 961 games.
Team 1173 played 960 games.
Team 1350 played 959 games.
Team 1276 played 959 games.
Team 1386 played 958 games.
Team 1166 played 957 games.
Team 1233 played 957 games.
Team 1387 played 956 games.
Team 1261 played 956 games.
Team 1462 played 954 games.
Team 1385 played 954 games.
Team 1208 played 954 games.
Team 1304 played 953 games.
Team 1356 played 953 games.
Team 1283 played 952 games.
Team 1438 played 952 games.
Team 1229 played 951 games.
Team 1130 played 951 games.
Team 1458 played 951 games.
Team 1344 played 951 games.
Team 1266 played 951 games.
Team 1323 played 950 games.
Team 1235 played 950 games.
Team 1373 played 950 games.
Team 1155 played 950 games.
Team 1310 played 949 games.
Team 1133 played 949 games.
Team 1199 played 949 games.
Team 1278 played 948 games.
Team 1448 played 947 games.
Team 1143 played 947 games.
Team 1455 played 947 games.
Team 1201 played 947 games.
Team 1269 played 946 games.
Team 1371 played 946 games.
Team 1439 played 946 games.
Team 1280 played 946 games.
Team 1131 played 945 games.
Team 1376 played 945 games.
Team 1452 played 945 games.
Team 1425 played 944 games.
Team 1395 played 943 games.
Team 1247 played 943 games.
Team 1241 played 942 games.
Team 1193 played 942 games.
Team 1318 played 942 games.
Team 1177 played 942 games.
Team 1325 played 942 games.
Team 1443 played 942 games.
Team 1150 played 942 games.
Team 1329 played 941 games.
Team 1401 played 940 games.
Team 1403 played 939 games.
Team 1353 played 939 games.
Team 1348 played 938 games.
Team 1449 played 938 games.
Team 1206 played 938 games.
Team 1113 played 937 games.
Team 1431 played 937 games.
Team 1120 played 936 games.
Team 1378 played 936 games.
Team 1308 played 935 games.
Team 1145 played 934 games.
Team 1265 played 934 games.
Team 1203 played 933 games.
Team 1220 played 933 games.
Team 1390 played 932 games.
Team 1284 played 932 games.
Team 1275 played 932 games.
Team 1428 played 931 games.
Team 1423 played 931 games.
Team 1218 played 931 games.
Team 1180 played 930 games.
Team 1429 played 930 games.
Team 1216 played 930 games.
Team 1222 played 930 games.
Team 1351 played 929 games.
Team 1221 played 929 games.
Team 1264 played 928 games.
Team 1191 played 928 games.
Team 1389 played 928 games.
Team 1160 played 928 games.
Team 1245 played 927 games.
Team 1243 played 927 games.
Team 1279 played 927 games.
Team 1332 played 927 games.
Team 1336 played 926 games.
Team 1406 played 926 games.
Team 1352 played 925 games.
Team 1256 played 925 games.
Team 1288 played 925 games.
Team 1182 played 924 games.
Team 1139 played 923 games.
Team 1207 played 923 games.
Team 1305 played 922 games.
Team 1200 played 922 games.
Team 1337 played 922 games.
Team 1414 played 922 games.
Team 1405 played 921 games.
Team 1211 played 921 games.
Team 1178 played 920 games.
Team 1238 played 920 games.
Team 1227 played 917 games.
Team 1374 played 916 games.
Team 1444 played 916 games.
Team 1253 played 915 games.
Team 1361 played 915 games.
Team 1274 played 915 games.
Team 1461 played 914 games.
Team 1179 played 914 games.
Team 1260 played 914 games.
Team 1382 played 914 games.
Team 1450 played 913 games.
Team 1320 played 913 games.
Team 1174 played 913 games.
Team 1232 played 913 games.
Team 1259 played 913 games.
Team 1137 played 912 games.
Team 1418 played 912 games.
Team 1321 played 912 games.
Team 1453 played 912 games.
Team 1333 played 911 games.
Team 1436 played 911 games.
Team 1114 played 910 games.
Team 1110 played 910 games.
Team 1103 played 910 games.
Team 1267 played 909 games.
Team 1192 played 908 games.
Team 1365 played 907 games.
Team 1224 played 907 games.
Team 1129 played 907 games.
Team 1124 played 906 games.
Team 1123 played 906 games.
Team 1126 played 906 games.
Team 1354 played 906 games.
Team 1161 played 905 games.
Team 1122 played 903 games.
Team 1411 played 903 games.
Team 1447 played 903 games.
Team 1434 played 902 games.
Team 1156 played 900 games.
Team 1185 played 900 games.
Team 1151 played 899 games.
Team 1334 played 899 games.
Team 1254 played 898 games.
Team 1383 played 898 games.
Team 1263 played 898 games.
Team 1258 played 898 games.
Team 1250 played 898 games.
Team 1306 played 898 games.
Team 1388 played 897 games.
Team 1379 played 896 games.
Team 1197 played 896 games.
Team 1273 played 896 games.
Team 1248 played 896 games.
Team 1375 played 896 games.
Team 1132 played 895 games.
Team 1298 played 894 games.
Team 1419 played 894 games.
Team 1164 played 893 games.
Team 1456 played 891 games.
Team 1239 played 891 games.
Team 1190 played 891 games.
Team 1209 played 891 games.
Team 1168 played 891 games.
Team 1117 played 891 games.
Team 1364 played 890 games.
Team 1175 played 890 games.
Team 1363 played 889 games.
Team 1360 played 889 games.
Team 1292 played 888 games.
Team 1349 played 888 games.
Team 1271 played 887 games.
Team 1384 played 887 games.
Team 1159 played 887 games.
Team 1293 played 886 games.
Team 1317 played 883 games.
Team 1416 played 881 games.
Team 1335 played 880 games.
Team 1225 played 880 games.
Team 1391 played 879 games.
Team 1339 played 879 games.
Team 1296 played 879 games.
Team 1172 played 879 games.
Team 1111 played 876 games.
Team 1290 played 875 games.
Team 1359 played 874 games.
Team 1249 played 873 games.
Team 1141 played 872 games.
Team 1183 played 871 games.
Team 1398 played 870 games.
Team 1299 played 870 games.
Team 1119 played 868 games.
Team 1362 played 867 games.
Team 1108 played 866 games.
Team 1451 played 866 games.
Team 1152 played 865 games.
Team 1285 played 865 games.
Team 1184 played 863 games.
Team 1204 played 862 games.
Team 1380 played 862 games.
Team 1187 played 861 games.
Team 1270 played 861 games.
Team 1399 played 860 games.
Team 1426 played 859 games.
Team 1427 played 858 games.
Team 1347 played 858 games.
Team 1287 played 857 games.
Team 1341 played 857 games.
Team 1202 played 856 games.
Team 1464 played 856 games.
Team 1106 played 855 games.
Team 1322 played 854 games.
Team 1441 played 854 games.
Team 1286 played 851 games.
Team 1144 played 850 games.
Team 1186 played 849 games.
Team 1135 played 847 games.
Team 1226 played 847 games.
Team 1402 played 847 games.
Team 1420 played 845 games.
Team 1148 played 844 games.
Team 1319 played 843 games.
Team 1442 played 840 games.
Team 1102 played 840 games.
Team 1309 played 840 games.
Team 1311 played 839 games.
Team 1463 played 838 games.
Team 1212 played 837 games.
Team 1165 played 833 games.
Team 1343 played 832 games.
Team 1162 played 831 games.
Team 1410 played 831 games.
Team 1171 played 829 games.
Team 1217 played 828 games.
Team 1460 played 827 games.
Team 1440 played 825 games.
Team 1149 played 824 games.
Team 1154 played 820 games.
Team 1291 played 815 games.
Team 1198 played 812 games.
Team 1331 played 809 games.
Team 1368 played 808 games.
Team 1408 played 808 games.
Team 1358 played 806 games.
Team 1457 played 801 games.
Team 1421 played 799 games.
Team 1372 played 795 games.
Team 1157 played 784 games.
Team 1251 played 755 games.
Team 1282 played 745 games.
Team 1454 played 737 games.
Team 1381 played 735 games.
Team 1138 played 728 games.
Team 1169 played 724 games.
Team 1158 played 720 games.
Team 1422 played 719 games.
Team 1147 played 698 games.
Team 1369 played 682 games.
Team 1170 played 660 games.
Team 1194 played 647 games.
Team 1404 played 643 games.
Team 1407 played 639 games.
Team 1214 played 627 games.
Team 1142 played 597 games.
Team 1459 played 575 games.
Team 1240 played 568 games.
Team 1313 played 563 games.
Team 1176 played 526 games.
Team 1346 played 522 games.
Team 1115 played 520 games.
Team 1237 played 519 games.
Team 1107 played 512 games.
Team 1125 played 506 games.
Team 1324 played 506 games.
Team 1357 played 500 games.
Team 1340 played 497 games.
Team 1392 played 493 games.
Team 1189 played 481 games.
Team 1219 played 466 games.
Team 1105 played 447 games.
Team 1127 played 442 games.
Team 1415 played 418 games.
Team 1205 played 405 games.
Team 1252 played 401 games.
Team 1236 played 400 games.
Team 1394 played 390 games.
Team 1366 played 384 games.
Team 1223 played 363 games.
Team 1413 played 348 games.
Team 1255 played 344 games.
Team 1294 played 336 games.
Team 1316 played 327 games.
Team 1355 played 327 games.
Team 1430 played 325 games.
Team 1244 played 322 games.
Team 1295 played 308 games.
Team 1312 played 276 games.
Team 1195 played 273 games.
Team 1146 played 267 games.
Team 1367 played 267 games.
Team 1342 played 260 games.
Team 1167 played 260 games.
Team 1300 played 252 games.
Team 1136 played 240 games.
Team 1370 played 222 games.
Team 1315 played 217 games.
Team 1377 played 210 games.
Team 1188 played 207 games.
Team 1134 played 200 games.
Team 1302 played 200 games.
Team 1121 played 175 games.
Team 1109 played 169 games.
Team 1215 played 147 games.
Team 1303 played 129 games.
Team 1297 played 113 games.
Team 1445 played 107 games.
Team 1128 played 106 games.
Team 1213 played 84 games.
Team 1262 played 83 games.
Team 1101 played 76 games.
Team 1432 played 69 games.
Team 1230 played 64 games.
Team 1446 played 48 games.
Team 1289 played 48 games.
Team 1118 played 27 games.
Team 1327 played 22 games.

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [33]:
# Create a new column 'score_diff' which is the difference between 'Wscore' and 'Lscore'
df['score_diff'] = df['Wscore'] - df['Lscore']

# Group the DataFrame by 'Season' and find the row with maximum 'score_diff' in each group
highest_score_diff_df = df.loc[df.groupby('Season')['score_diff'].idxmax()]

# Iterate over the rows of highest_score_diff_df DataFrame and print the results
for index, row in highest_score_diff_df.iterrows():
    print(f"In Season {row['Season']}, the game with the highest score difference was between teams {row['Wteam']} and {row['Lteam']} with a difference of {row['score_diff']}.")

# Optional: Drop the 'score_diff' column if it's no longer needed
df.drop('score_diff', axis=1, inplace=True)

In Season 1985, the game with the highest score difference was between teams 1361 and 1288 with a difference of 60.
In Season 1986, the game with the highest score difference was between teams 1314 and 1264 with a difference of 84.
In Season 1987, the game with the highest score difference was between teams 1155 and 1118 with a difference of 73.
In Season 1988, the game with the highest score difference was between teams 1328 and 1147 with a difference of 68.
In Season 1989, the game with the highest score difference was between teams 1242 and 1135 with a difference of 70.
In Season 1990, the game with the highest score difference was between teams 1181 and 1217 with a difference of 76.
In Season 1991, the game with the highest score difference was between teams 1163 and 1148 with a difference of 68.
In Season 1992, the game with the highest score difference was between teams 1116 and 1126 with a difference of 82.
In Season 1993, the game with the highest score difference was between teams 1328 and 1197 with a difference of 81.
In Season 1994, the game with the highest score difference was between teams 1228 and 1152 with a difference of 69.
In Season 1995, the game with the highest score difference was between teams 1246 and 1404 with a difference of 74.
In Season 1996, the game with the highest score difference was between teams 1409 and 1341 with a difference of 91.
In Season 1997, the game with the highest score difference was between teams 1278 and 1106 with a difference of 80.
In Season 1998, the game with the highest score difference was between teams 1395 and 1410 with a difference of 66.
In Season 1999, the game with the highest score difference was between teams 1268 and 1317 with a difference of 75.
In Season 2000, the game with the highest score difference was between teams 1261 and 1212 with a difference of 75.
In Season 2001, the game with the highest score difference was between teams 1196 and 1197 with a difference of 75.
In Season 2002, the game with the highest score difference was between teams 1328 and 1183 with a difference of 59.
In Season 2003, the game with the highest score difference was between teams 1403 and 1311 with a difference of 72.
In Season 2004, the game with the highest score difference was between teams 1328 and 1115 with a difference of 70.
In Season 2005, the game with the highest score difference was between teams 1403 and 1421 with a difference of 64.
In Season 2006, the game with the highest score difference was between teams 1400 and 1341 with a difference of 72.
In Season 2007, the game with the highest score difference was between teams 1401 and 1212 with a difference of 74.
In Season 2008, the game with the highest score difference was between teams 1182 and 1224 with a difference of 70.
In Season 2009, the game with the highest score difference was between teams 1314 and 1421 with a difference of 68.
In Season 2010, the game with the highest score difference was between teams 1397 and 1421 with a difference of 75.
In Season 2011, the game with the highest score difference was between teams 1388 and 1152 with a difference of 69.
In Season 2012, the game with the highest score difference was between teams 1345 and 1296 with a difference of 62.
In Season 2013, the game with the highest score difference was between teams 1235 and 1105 with a difference of 58.
In Season 2014, the game with the highest score difference was between teams 1256 and 1255 with a difference of 74.
In Season 2015, the game with the highest score difference was between teams 1181 and 1342 with a difference of 69.
In Season 2016, the game with the highest score difference was between teams 1139 and 1154 with a difference of 73.

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [46]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [34]:
# 'melt' will reshape the DataFrame, transforming the 'Wteam' and 'Lteam' columns into rows under a new column 'team'
reshaped_df = df.melt(value_vars=['Wteam', 'Lteam'], var_name='WL', value_name='team')

# value_counts() will count the occurrences of each team in the new 'team' column
total_games_count = reshaped_df['team'].value_counts()

print("Total Number of Games Played by Each Team:")
print(total_games_count)

Total Number of Games Played by Each Team:
1181    1013
1314    1010
1246     999
1257     994
1242     993
        ...
1230      64
1446      48
1289      48
1118      27
1327      22
Name: team, Length: 364, dtype: int64

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [35]:
# Create a new column 'ScoreDifference' with vectorized subtraction
df['ScoreDifference'] = df['Wscore'] - df['Lscore']

# Find the max score difference for each season
max_score_diff_per_season = df.groupby('Season')['ScoreDifference'].max()

# Merge the dataframes on 'Season' and 'ScoreDifference' to get the details of the game with the highest score difference
highest_score_diff_game_details = df.merge(max_score_diff_per_season, how='right', 
                                           left_on=['Season', 'ScoreDifference'], 
                                           right_on=['Season', 'ScoreDifference'])

print("Game with the Highest Score Difference for Each Season:")
print(highest_score_diff_game_details)

# Optional: Drop the 'ScoreDifference' column if it's no longer needed
df.drop('ScoreDifference', axis=1, inplace=True)

Game with the Highest Score Difference for Each Season:
    Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  ScoreDifference  \
0     1985      33   1361     128   1288      68    H      0               60
1     1986      60   1314     129   1264      45    N      0               84
2     1987      51   1155     112   1118      39    H      0               73
3     1988      40   1328     152   1147      84    H      0               68
4     1989      64   1242     115   1135      45    H      0               70
5     1990      26   1181     130   1217      54    H      0               76
6     1991      73   1163     115   1148      47    H      0               68
7     1991     112   1314     118   1154      50    H      0               68
8     1992      30   1116     128   1126      46    H      0               82
9     1993      86   1328     146   1197      65    H      0               81
10    1994      47   1228     121   1152      52    H      0               69
11    1995      26   1246     124   1404      50    H      0               74
12    1996      48   1409     141   1341      50    H      0               91
13    1997      56   1278     114   1106      34    H      0               80
14    1998      33   1395     153   1410      87    H      0               66
15    1998      36   1116     108   1126      42    H      0               66
16    1999      58   1268     132   1317      57    H      0               75
17    2000      19   1261     112   1212      37    H      0               75
18    2001      41   1196     125   1197      50    H      0               75
19    2002      50   1328     109   1183      50    H      0               59
20    2003      33   1403     107   1311      35    H      0               72
21    2004      29   1328      94   1115      24    H      0               70
22    2005      18   1403     119   1421      55    H      0               64
23    2005      56   1257     104   1287      40    H      0               64
24    2006      60   1400     110   1341      38    H      0               72
25    2007      59   1401     101   1212      27    H      0               74
26    2008       4   1182     129   1224      59    H      0               70
27    2009      27   1314     116   1421      48    H      0               68
28    2010      15   1397     124   1421      49    H      0               75
29    2011      22   1388     121   1152      52    H      0               69
30    2012      11   1345      96   1296      34    H      0               62
31    2013       7   1235      98   1105      40    H      0               58
32    2014      61   1256     126   1255      52    H      0               74
33    2015      11   1181     113   1342      44    H      0               69
34    2016      12   1139     144   1154      71    H      0               73

   HighScoringGame
0              Yes
1              Yes
2              Yes
3              Yes
4              Yes
5              Yes
6              Yes
7              Yes
8              Yes
9              Yes
10             Yes
11             Yes
12             Yes
13             Yes
14             Yes
15             Yes
16             Yes
17             Yes
18             Yes
19             Yes
20             Yes
21              No
22             Yes
23             Yes
24             Yes
25             Yes
26             Yes
27             Yes
28             Yes
29             Yes
30              No
31              No
32             Yes
33             Yes
34             Yes

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [49]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [50]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [51]:
type(df['Wscore'])

pandas.core.series.Series

In [52]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [53]:
df[0:3]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference,HighScoringGame
0,1985,20,1228,81,1328,64,N,0,17,No
1,1985,25,1106,77,1354,70,H,0,7,No
2,1985,25,1112,63,1223,56,H,0,7,No

Here's an equivalent using iloc

In [54]:
df.iloc[0:3,:]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference,HighScoringGame
0,1985,20,1228,81,1328,64,N,0,17,No
1,1985,25,1106,77,1354,70,H,0,7,No
2,1985,25,1112,63,1223,56,H,0,7,No

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [37]:
df.isnull().sum()

Season             0
Daynum             0
Wteam              0
Wscore             0
Lteam              0
Lscore             0
Wloc               0
Numot              0
HighScoringGame    0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values. 
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis). 
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y